.EmotionItem {
  background-color: rgb(236, 236, 236);
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.EmotionItem .emotion_img {
  width: 50%;
  margin-bottom: 10px;
}

.Emotion_on_1 {
  background-color: #64c964;
  color: white;
}
.Emotion_on_2 {
  background-color: #9dd772;
  color: white;
}
.Emotion_on_3 {
  background-color: #fdce17;
  color: white;
}
.Emotion_on_4 {
  background-color: #fd8446;
  color: white;
}
.Emotion_on_5 {
  background-color: #fd565f;
  color: white;
}
