@font-face {
  font-family: "NanumPenScript";
  src: url("/NanumPenScript-Regular.ttf");
}

html,
body {
  margin: 0;
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
}

#root {
  background: white;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0 0 29px 0;
  padding: 0 20px;
}

* {
  /* button select input 등 모든 태그에 버튼 적용 하기 위해서 *을 활용하였음. */
  font-family: "NanumPenScript";
}
